@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    transition: 0.3s;
}

body{
    font-family: 'Raleway', sans-serif!important;
}


.navbar-collapse{
    flex-grow: 0!important;
}

nav a{
    color: white!important;
}

header{
    height: 100vh;
    background: gray;
    background-image: linear-gradient(90deg, rgba(0,231,249,0.2780462526807598) 100%, rgba(0,4,24,0.4405112386751575) 74%), url('./image/about-section.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: white;
}

header h1{
    font-weight: normal;
    font-size: 3em;
}

.about_card{
    margin: auto;
    width: 800px;
    max-width: 100%;
    background-color: white;
}

.about_card a{
    font-family: Arial!important;
}


.about_card img{
    width: 100%;
}

.about_card ul{
    list-style: none;
    padding: 0;
}

.about_card{
    line-height: 3em;
}

.about_card li{
    margin-right: 10px;
}

.in{
    transform: translateY(-50px);
}